.o-projectgrid{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.o-projectgrid__content {
    display: grid;
    grid-template-columns: 33% 16.5% 16.5% 33%;
    gap: 10px;
    max-width: 98%;
    margin: auto;
    overflow: hidden;
}

.o-projectgrid__item .o-projectgrid__image{
    transition: 0.35s;
    transform: scale(1);
    cursor: pointer;
    overflow: hidden;
}

.o-projectgrid__item:hover .o-projectgrid__image{
    transform: scale(1.1);
}

.o-projectgrid__item:first-child{
    grid-column: 1 / 3;
}

.o-projectgrid__item:nth-child(2){
    grid-column: 3 / 5;
}

.o-projectgrid__item:nth-child(4){
    grid-column: 2 / 4;
}

.o-projectgrid__item:nth-child(4){
    grid-column: 2 / 4;
}

.o-projectgrid__item:nth-child(7){
    grid-column: 2 / 4;
}

.o-projectgrid__item:nth-child(10){
    grid-column: 2 / 4;
}

.o-projectgrid__item {
    max-height: 500px;
    overflow: hidden;
}

.o-projectgrid__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.o-projectgrid__cta {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

@media(max-width: 780px){
    .o-projectgrid__cta{
        flex-direction: column;
        gap: 10px;;
    }

    .o-projectgrid__content{
        display: flex;
        flex-wrap: wrap;
    }

    .o-projectgrid__item{
        width: 48%;
    }


}
