.m-formcontact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.m-formcontact-title * {
    font-weight: 400;
}

.m-formcontact__par {
    font-size: 2.2rem;
}

.m-formcontact__form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.form-group {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 2.4rem;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.m-formcontact__form-input {
    width: 100%;
    height: 2.4rem;
    padding: 5px;
    padding-left: 0;
    font-weight: 350;
}

.m-formcontact__form-submit {
    width: 100%;
    border: solid 1px white;
    padding: 11px 0px;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.35s;
}

.m-formcontact__form-submit:hover{
    background-color: var(--four-color);
    color: white;
}