.o-heroTitle__conte {
    max-width: var(--max-tiny);
    margin: auto;
    padding: 50px 0px;
}

.heroTitle__text {
    font-size: 2.4rem;
    font-style: italic;
}

@media(max-width: 780px){
    .o-herotitle__title{
        font-size: 4rem !important;
    }
}
