.a-imageslide__swiper{
    position: relative;
}

.a-imageslide__element {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.35s;
}

.a-imageslide__element:hover{
    transform: scale(1.1);
    z-index: 1;
}

.rr-prestige{
    .a-imageslide__element{
        height: 62rem;
    }
    .a-imageslide__element:hover{
        transform: scale(1);
        z-index: 1;
    }
}

.a-imageslide__pagination {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.a-imageslide__icon::before{
    content: url('./image/arrow-right.svg');
    display: grid;
    place-items: center;
    background: #ffffffa3;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    z-index: 9;
    position: relative;
}

.a-imageslide__prev::before{
    content: url('./image/arrow-left.svg');
}

.a-imageslide__next::before{
    content: url('./image/arrow-right.svg')
}
