.o-header {
    z-index: 22;
    position: fixed;
    width: 100%;;
    color: var(--second-color);
    padding: 12px 0px;
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px); 
}

.o-header.o-header--intop {
    top: 0;
    padding: 10px 0px;
    transition: 0.35s;
    box-shadow: var(--box-shadow-regular);
    background-color: rgba(0, 0, 0, 0.284);
}

.o-header__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: var(--max-tiny);
    margin: auto;
    align-items: center;
}

.o-header--intop .o-header__logo .a-logo__img{
    height: 50px;
    transition: 0.35s;
}

.o-header__cta {
    display: flex;
    align-items: center;
    gap: 14px;
}

.o-header--white:not(.o-header--intop) .m-nav-item__route {
    color:var(--white);
}

@media(max-width:780px){

    .o-header{
        top: 0px;
    }

    .o-header__content{
        display: flex;
    }
}