.m-adviserbtns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.m-importados__asesor-title {
    font-family: 'inter';
    font-weight: 700;
    font-size: 1.8rem;
}

.m-portados__asesor-info p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}