.a-btnwhatsapp {
    font-size: 2.2rem;
    border: solid 1px white;
    padding: 8px 15px;
    font-weight: 300;
    transition: 0.35s;
    display: flex;
    align-items: center;
    gap: 7px;
    color: white;
}

.a-btnwhatsapp::before{
    content: url(../../../assets/icons/whatsapp.svg);
}

.a-btnwhatsapp--tiny{
    border: none;
    font-size: 1.6rem;
}

.a-btnwhatsapp:hover{
    background-color: var(--four-color);
    color: white;
}

.a-btnwhatsapp:hover::before{
    content: url(../../../assets/icons/whatsapp-icon.svg);
}