.m-searcher {
    background: var(--search-gradient);
    padding: 15px 21px;
    border-radius: 4px;
    width: 560px;
}

.m-searcher-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: self-start;
}

.m-searcher-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.m-searcher-input {
    display: flex;
    gap: 10px;
    width: 100%;
    gap: 15px;
}

.m-searcher-input__tex {
    background: #1A1A1A66;
    padding: 8px 13px;
    border-radius: 4px;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
}

.m-searcher-input__tex::placeholder {
    color: #A9A9A9;
    font-size: 1.8rem;
    line-height: 1;
}

.m-searcher-input__btn {
    background: var(--main-color);
    padding: 12px 16px;
    font-size: 1.4rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: solid 1px transparent;
    transition: 0.35s;
}

.m-searcher-input__btn:hover {
    border: solid 1px var(--silver-main);
}


.m-searcher-input__btn::after{
    content:'';
    background-image: url(./img/Search.svg);
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}