---
import {getTaxonomies} from '../../../services/getTax'
import { Image } from 'astro:assets';
import './brands.css'

const dataTax = await getTaxonomies('marca');

---

<div class="m-brands">
  <div class="m-brands__swiper swiper">
    <div class="m-brands__swiper-wrapper swiper-wrapper">
      {
        dataTax.map((brand: any) => {
            
            if(!brand.brand_logo) return;

            return(
                <a class="m-brands__slide swiper-slide" href={`/servicios?marca=${brand.name}`}>
                    <Image
                        class="m-brands__logo"
                        src={brand.brand_logo}
                        alt={brand.name}
                        width={102}
                        height={70}
                    />
                </a>
            )
        })
      }
    </div>
    <div class="m-brands__button m-brands__button--prev"></div>
    <div class="m-brands__button m-brands__button--next"></div>
  </div>
</div>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  
  function init() {

    new Swiper('.m-brands__swiper', {
      slidesPerView: 10,
      spaceBetween: 10,
      loop: true,
      centeredSlides: true,
      grabCursor: true,
      navigation: {
        nextEl: '.m-brands__button--next',
        prevEl: '.m-brands__button--prev',
      },
      pagination: {
        el: '.m-brands__pagination',
        clickable: true
      },
      breakpoints: {
        1024: { slidesPerView: 12, spaceBetween: 30 }
      }
    });
}

  init();
  document.addEventListener("astro:after-swap", init)
</script>
