.trabajos-title {
    max-width: var(--max-tiny);
    margin: 50px auto;
    border-left: solid 3px var(--four-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 8px;
}

.trabajo-gallery__img {
    max-height: 1000px;
}

.trabajo-gallery__img-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** Grid */
   .pinterest-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 10px;
    gap: 10px;
    max-width: 98%;
    margin: auto;
    overflow: hidden;
  }

  .pinterest-grid-item {
    overflow: hidden;
  }


  .pinterest-grid-img {
    width: 100%;
    display: block;
  }

  .pinterest-grid-item.small {
    grid-row-end: span 25;
  }

  .pinterest-grid-item.medium {
    grid-row-end: span 35;
  }

  .pinterest-grid-item.large {
    grid-row-end: span 45;
  }

  .pinterest-grid-item.xlarge {
    grid-row-end: span 55;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .pinterest-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  @media (max-width: 480px) {
    .pinterest-grid {
      gap: 8px;
    }
  }


.trabajos-info{
    max-width: var(--max-tiny);
    margin: auto;
    padding: 50px 0px;
    font-size: var(--font-normal);
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3, h2, h1, h4{
        font-size: 3rem;
    }
}

.trabajos__btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}