.m-nav-item {
    position: relative;
}

.m-nav__content {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}

.m-nav-item__route {
    color: var(--color-text);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 5px 12px;
    border-radius: 2px;
    transition: 0.35s ease-in;
    position: relative;
}

.m-nav-item__route::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: white;
    position: absolute;
    border-radius: 50px;
    top: 0px;
    left: 50%;
    opacity: 0;
    transition: 0.35s;
}

.m-nav-item__route--active .m-nav-item__route,
.m-nav-item__route:hover{
    padding: 5px 12px;
    font-weight: 600;
}

.m-nav-item__route--active .m-nav-item__route::before,
.m-nav-item__route:hover::before{
    content: '';
    opacity: 1;
    top: -7px;
}

.m-nav--footer .m-nav-item__route{
    color: var(--white);
}

.m-nav-item__submenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    width: 270px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-regular);
    justify-content: center;
    padding: 0px;
    border-radius: 5px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition: 0.35s;
}

.m-nav-item:hover .m-nav-item__submenu {
    max-height: 200px;
    height: auto;
    padding: 16px;
    opacity: 1;
    z-index: 1;
    transition: 0.35s;
}

.m-nav-item__submenu-item {
    font-size: var(--font-x6);
    color: var(--color-primary);
    font-weight: 500;
    position: relative;
}

.m-nav-item__submenu-item::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.35s;
}

.m-nav-hamburger{
    display: none;
}

@media(max-width:780px){

    .m-nav-hamburger{
        display: block;
        height: 13px;
        width: 20px;
        position: relative;
        cursor: pointer;
    }

    .m-nav-hamburger__line{
        width: 100%;
        height: 2px;
        display: block;
        border-radius: 20px;
        background-color: var(--color-primary);
        transition: 0.35s;
    }    

    .m-nav-hamburger__line--first{
        position: absolute;
        top: 0px;
    }

    .m-nav-hamburger__line--second{
        position: absolute;
        top: 50%;
    }

    .m-nav-hamburger__line--third{
        position: absolute;
        top: 100%;
    }


    .m-nav--header .m-nav__content{
        position: absolute;
        top: 47px;
        background: white;
        width: 100%;
        left: 0;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        max-height: 0px;
        gap: 12px;
        transition: 0.35s;
        overflow: hidden;
    }

    .m-nav--header.m-nav--active .m-nav__content{
        padding: 16px;
        max-height: 600px;
    }


    .m-nav--footer .m-nav__content{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .m-nav-item__submenu{
        position: relative;
        max-height: 250px;
        opacity: 1;
        z-index: 1;
        padding: 10px;
    }
}